@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply font-sans text-gray-800 bg-white;
  }
}

@layer components {
  .section-padding {
    @apply px-4 sm:px-6 lg:px-8 py-16 md:py-24;
  }
  .container-custom {
    @apply max-w-7xl mx-auto;
  }
}
